commonroad-io>=2022.3
commonroad-vehicle-models>=3.0.0
numpy>=1.19
shapely>=1.6.4
matplotlib>=3.2.2
jupyter>=1.0.0
scipy>=1.4.1
pandoc>=1.0.2
sphinx_rtd_theme>=0.4.3
sphinx>=3.0.3
nbsphinx_link>=1.3.0
nbsphinx>=0.6.1
breathe>=4.18.0
polygon3>=3.0.8
setuptools>=62.1.0
